[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyserial = "*"
minimalmodbus = "*"
flake8 = "*"
blynklib = "*"

[dev-packages]

[requires]
python_version = "3.9"
